{% extends 'accounts/base_1.html' %}


{% block content %}


<div class="pwd-reset-form">
  
<form method="POST" style="margin-top: 10%;" class="form-signin">{% csrf_token %}
  <p class= "font-title-reset font-weight-normal text-center">Reset password</p>
  <p class="text-sub">We will send you a link in the following email id containing instructions to reset your password.</p>
  <input name="email" class="place-default" placeholder="Email address" type="email" id="id_email" required="true">
  <br>
  <button class="text-sub btn-default btn-block" type="submit">Send reset email</button>  
</form>

</div>


{% endblock %}